body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f0f0f0;
}

/* Header section */

@font-face {
  font-family: 'SignatureFont';
  src: url('/home/asad/codes/portfolio/AmsterdamSignature-4BzOB.ttf') format('truetype');
}
header {
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100;
  z-index: 2;
  background-color: transparent(0, 0, 0, 0.5);
  animation: 70s linear infinite;
  backdrop-filter: blur(2px);
}
header h1 {
  font-family: 'SignatureFont', cursive;
  font-size: 50px;
  font-weight: bold;
}
header h1 a {
  text-decoration: none;
  color: white;
}
header nav ul {
  list-style: none;
  display: flex;
  font-size: 20px;
  gap: 20px;
}
header nav ul li {
  margin-left: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
}


/* Home Section */

section#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
section#home .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  background-color: transparent(0, 0, 0, 0.5);
  padding: 20px;
}

/* Add styles for the info-section and info-block */
.info-section {
  display: none; /* Change display to flex */
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  padding: 20px 0;
  /* animation: 70s linear infinite; */
  /* vertical-align: middle; */
  flex-wrap: wrap; /* Add flex-wrap property */
  animation: 70s linear infinite;

  /* border-radius: 5px;
  border-color: white; */
}
.info-block-container {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center; /* Center the info blocks horizontally within the container */
  gap: 20px; /* Add some gap between the info blocks */
}
.info-block {
  flex: 0 0 calc(33.33% - 20px); /* Adjust width of info blocks */
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 10px; /* Add margin to create space between info blocks */
  flex: 0 0 calc(50% - 20px); /* Set width of info blocks to 50% minus the gap */
  background-color: black;
  /* border: 5px; */
  /* border-radius: 5px;
  border-color: antiquewhite; */
  border: 2px solid #292323;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(53, 40, 40, 0.2); */
} 
.info-block img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
/* .info-block:last-child {
  margin-right: 0; /* Remove margin for the last block 
} */



@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: -1;
}
.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("httext-overlaytps://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    
  animation:move-background 70s linear infinite;
}
.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
  position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

  animation: move-background 150s linear infinite;
}

footer {
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  animation: 70s linear infinite;
  backdrop-filter: blur(10px);
}

